Source: iptv-toolkit
Section: utils
Priority: optional
Maintainer: 
Rules-Requires-Root: no
Build-Depends: build-essential, debhelper, debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: 
Vcs-Browser: 
Vcs-Git: 

Package: iptv-toolkit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Toolkit for IPTV