Source: iptv-toolkit
Section: utils
Priority: optional
Maintainer: 
Rules-Requires-Root: no
Build-Depends: build-essential, debhelper, debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/Losenmann/iptv-toolkit
Vcs-Browser: https://losenmann.github.io/iptv-toolkit
Vcs-Git: https://github.com/Losenmann/iptv-toolkit.git

Package: iptv-toolkit
Architecture: any
Description: Includes a playlist converter and tvguide
 Has a built-in udpxy and a file server