buildkit
build
tmp
tv
*.zip
*.xml
*.xml.gz
*.m3u
*.m3u8
*.ndx
*.pdt
*.deb
*.rpm
*.buildinfo
*.changes
*.rsa
*.rsa.pub
iptv-toolkit
_*
!.ghpages/*
artifact
pkg/.config
pkg/.docker
pkg/rpmbuild/BUILD
pkg/rpmbuild/BUILDROOT
pkg/rpmbuild/RPMS
pkg/rpmbuild/SOURCES
pkg/rpmbuild/SRPMS
!pkg/apkbuild/*
!pkg/debbuild/*
